.oferta{
    background-color: #00446e;
    padding: 2rem;
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
}
.precio {
    font-size: 4rem;
    margin: 0;
}


/*
@media only screen and (max-width: 600px) {
      body {
         // Aplicará solo desde 0 hasta 600px 
    }
}

@media only screen and (min-width: 800px) {
      .box {
        //Aplicará a partir desde los 800px hacia adelante 
    }
}
*/

@media (max-width: 800px){
    .oferta{
        max-width: 40rem;
    }
    
}

@media  (max-width: 600px) {

    .oferta{
        max-width: 100%; 
    }
    
}